[Unit]
Description=Persistent data partition (/data)
Documentation=man:systemd.mount(5)
Before=local-fs.target
Requires=systemd-fsck@dev-nvme0n1p4.service
After=systemd-fsck@dev-nvme0n1p4.service

[Mount]
What=/dev/nvme0n1p4
Where=/data
Type=ext4
Options=defaults,noatime

[Install]
WantedBy=local-fs.target
